#counselor{
    padding: 20px;
    background-color: #dcddf7;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#unit{
    border: 1px black solid;
    border-radius: 30px;
    margin: 10px;
    background-color: #FFFFFF;
    width: 50%;
    padding: 20px;
    display: inline-block;
}

#text{
    padding-left: 80px;
    display: inline-block;
}

#link{
    text-decoration: underline;
}

#pic{
    width: 100px;
    vertical-align: center;
    margin-top: -140px;
}